---

user:
    <USERNAME>:
        ensure: present
        managehome: true

postgresql::server::role:
    <USERNAME>:
        password_hash: <PASSWORD_HASH>
        createdb: true
        createrole: true
        superuser: true
        replication: true

git::config:
    user.name:
        value: <FULL_NAME>
    user.email:
        value: <EMAIL>
